

<div class="cell">
	<h1>Reset Password</h1>

	<form	class="reset-password-form">

		<div class="tbl">
			<div class="row">
				<div class="cell">
					<input type="email" placeholder="email address" size="28">
				</div>
			</div>
			
			<div class="row">
				<div class="cell">
					<button type="submit">Send</button>
				</div>
			</div>

			<div class="row">
				<div class="cell">
					<br/>
					<br/>
					<br/>
					<a ui-sref="access.sign-in">Log in</a>
					<br/>
					<br/>
					<a ui-sref="access.sign-up">Register</a>
					<br/>
					<br/>
				</div>
			</div>
			
		</div>
			
	</form>
	
	

	
</div>
