
<div class="cell">
	<h1>Sign up</h1>

	<form	class="register-form">

		<div class="tbl">
			<div class="row">
				<div class="cell">
					<input size="28" name="name" placeholder="Full name"/>
				</div>
			</div>
		</div>
			
		<div class="tbl">
			<div class="row">
				<div class="cell">
					<input size="28" name="email" placeholder="Valid email"/>
				</div>
			</div>
		</div>
			
		<div class="tbl">
			<div class="row">
				<div class="cell">
					<input size="28" name="password" placeholder="Password"/>
				</div>
			</div>
		</div>
			
		<div class="tbl">
			<div class="row">
				<div class="cell">
					<input size="28" name="password2" placeholder="Confirm password"/>
				</div>
			</div>
		</div>
			
		<div class="tbl">
			<div class="row">
				<div class="cell">
					<button type="submit">Create Account</button>
				</div>
			</div>
		</div>
			
	</form>
</div>

	