
<!-- 
	<div class="tbl">
		<div class="row">
			<div class="cell">
				<img src="img/europeana-logo.png">
			</div>
		</div>
		<div class="row">
			<div class="cell">
				
				<form	class="login-form"
						ng-controller="LoginController"
						ng-submit="login(credentials)" novalidate>

					<div class="tbl">
						<div class="row">
							<div class="cell">
								
								<input	type="text"
										id="username"
										placeholder="(1=guest, 2=editor, blank=admin)"
										size="28"
										ng-model="credentials.username" />
							</div>
						</div>
						<div class="row">
							<div class="cell">
								<input	type="password"
										id="password"
										placeholder="password"
										size="28"
										ng-model="credentials.password" />
							</div>
						</div>
						<div class="row">
							<div class="cell">
							
								<input	type="hidden"
										id="login-next"
										name="login-next"
										value="{{nextPage}}" />
							
								<input	type="hidden"
										id="next-params"
										name="next-params"
										value="{{nextParams}}" />
													
								<button type="submit">Login</button>
								<div class="vertical-line">&nbsp;</div>
								<div class="forgotten-password"><a href="">Forgotten password</a></div>
							</div>
						</div>
					</div>
				</form>
			</div>

			<div class="cell vertical-line dashed">&nbsp;</div>

			<div class="cell third-party-login">
				<h1>google</h1>
				<h1>etc</h1>
			</div>
			
		</div>
	</div>
-->

