

<div class="object-listing">	  

  <h2>Users ({{paginationParams.total}})</h2>

   <div class="row">
     <div class="col-md-12">
       Search: <input ng-model="query">
       Order:  <select ng-options="opt as opt.label for opt in sortOptions" ng-model="selected"></select>
     </div>
   </div>
  
   <div class="row">
     <div class="col-md-12">

       <ul class="object-list">
         <li ng-repeat="user in users | filter:query | orderBy:selected.value">

           
			<a href="#/user/{{user.id}}">{{ formatRow(user) }}</a>
         	<!-- 
           <a href="#/user/{{user.id}}">{{user.username}} ({{user.forenames}} {{user.surname}})</a>
           <a href="#/user/{{user.id}}">{{user.fullname ? user.fullname + ' ' + user.email : user.forenames + ' ' + user.surname  }} </a>
           <a href="#/user/{{user.id}}">{{user.fullname}}</a>
         	 -->

         </li>
       </ul>
       
     </div>
   </div>
   
   <!-- child views render here	 -->
   <div ui-view>
   </div>
   
</div>


